/* General styles */
:root {
    --color-white: #fff;
    --color-gray-100: #9BA0A5;
    --color-gray-300: #4E5156;
    --color-gray-500: #303134;
    --color-gray-700: #202124;
    --color-gray-900: #171717;
    --color-blue-500: #5383EC;
    --color-red-500: #CB0301;
    --color-red-700: #900301;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--color-gray-700);
    color: var(--color-white);
}

/* HEADER -------------------------- */
header {
    background: var(--color-gray-700);
    color: var(--color-white);
    padding: 1em 0;
    text-align: center;
}

header .header-right {
    justify-content: right !important;
}

header ul.nav {
    margin-right: 1em !important;
}

header ul.nav a.nav-link {
    color: var(--color-white);
    height: 40px;
}

header a:hover {
    text-decoration: underline;
}

header .material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40,

}

header .container {
    margin-right: 4px;
}

/* This will overwrite ::after in ALL elements */
::after {
    content: "";
    display: none !important;
}

header button.btn {
    font-size: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* CONTENT -------------------------- */
.btnLogOut {
    --bs-btn-bg: var(--color-red-500);
    --bs-btn-border-color: var(--color-red-500);
    --bs-btn-hover-bg: var(--color-red-700);
    --bs-btn-hover-border-color: var(--color-red-700);
    --bs-btn-active-bg: var(--color-red-500);
    --bs-btn-active-border-color: var(--color-red-700);
}


body .form-control {
    width: 50%
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    text-align: center;
}

main .btn-primary {
    --bs-btn-bg: var(--color-gray-500);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-bg: var(--color-gray-500);
    --bs-btn-hover-border-color: var(--color-gray-300);
    --bs-btn-active-bg: var(--color-gray-900);
    --bs-btn-active-border-color: transparent;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min-content;
}

input.form-control {
    border: 0px;
    border-radius: 0px;
    background-color: var(--color-gray-300);
    outline: none;
    background-color: var(--color-gray-300);
    width: 25%;
    color: var(--color-white);
}


input.form-control:focus {
    outline: none;
    background-color: var(--color-gray-300);
    box-shadow: none;
    color: var(--color-white);
    caret-color: var(--color-white);
}

form span.input-group-text {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--color-gray-300);
}

/* SIGN UP MODAL -------------------- */

#modalSignin {
    content: '';
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
}

body .modal-content {
    background-color: var(--color-gray-900);
}

#modalSignin button.btn-close {
    --bs-btn-close-bg: none;
    color: var(--color-white);
    width: 24px;
    height: 24px;
}

#floatingInput {
    width: 100%;
}

#floatingPassword {
    width: 100%;
}

.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    color: var(--color-white);
    padding-top: 16px;
}

.form-floating>.form-control-plaintext:focus,
.form-floating>.form-control-plaintext:not(:placeholder-shown),
.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 32px;
}

/* FOOTER -------------------------- */
footer {
    text-align: center;
    background: var(--color-gray-900);
    color: var(--color-white);
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul.nav li.nav-item a.nav-link {
    color: var(--color-white);
}

footer ul.nav {
    margin-left: 2rem;
    margin-right: 2rem;
}

footer a:hover {
    text-decoration: underline;
}

:root,
[data-bs-theme=light] {
    --bs-border-color: var(--color-gray-700);
    --bs-border-width: 2px;
}